@charset "UTF-8";

/* 외부 폰트 */

@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.item price{
	font-family: 'HSYuji-Regular';
	font-size : 16px;
}

pimg:hober {
	transform : scale(1.1);
}

#total{
	 font-family: 'HSYuji-Regular';
	 font-size: 1.5rem;
}

.pview{
	font-family: 'HSYuji-Regular';
	font-size: 1rem;
	
}
.carttotal{
	 font-family: 'HSYuji-Regular';
	 font-size: 1.5rem;
}

.totalbox {
	
	border: 3px solid #eeeeee;
	margin: 30px;
	padding: 40px;
}
