<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/html/css/index.css" rel="stylesheet">

    <!-- 부트스트랩 css 로드 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- 아이콘 사용 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
</head>

<body>
    <div class="container home">

        <div class="row homerow d-flex justify-content-center col-md-12">
            <div class="homeleft col-md-4 offset-2 border">
                <div class="phone-img border">
                    <img src="https://i.ibb.co/0yFRT6k/IG-Profile-Overview.jpg" alt="" class="img-on-phone">
                 </div>
            </div>

            <div class="homebox col-md-6 border">
                <div class="homelogo text-center">
                    <a href="/html/view/home.html"><img src="/html/img/logo.png" alt="" style="transform: scale(1.5);"></a>
                </div>

                <div class="hometext mt-10 text-center border">
                    <form class="p-5" action="">
                        <input class="form-control mt-3" type="text" placeholder="전화번호, 사용자 이름 또는 이메일">
                        <input class="form-control my-3" type="password" placeholder="비밀번호">
                        <a class="" href="" style="float: right;">비밀번호를 잊으셨나요?</a>
                    </form>
                    <div class="btn btn-primary col-4">Login</div>
                    <div><span class="mr-3">계정이 없으신가요?</span><a href="/html/view/signup.html"><span>가입하기</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
           
                <div class="footer-links col-12">
                    <ul class="d-flex justify-content-center flex-wrap col-12">
                        <li>About</li>
                        <li>Help</li>
                        <li>Press</li>
                        <li>API</li>
                        <li>Jobs</li>
                        <li>Privacy</li>
                        <li>Terms</li>
                        <li>Locations</li>
                        <li>Top Accounts</li>
                        <li>Hashtags</li>
                        <li>Language</li>
                    </ul>
                </div>
           
        </div>

        <!-- js로드 -->

        <!-- 쿼리 및 부트스트랩 스크립트 로드 -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>